@import 'helpers';
@import 'variables';
@import 'colors';
@import 'ui';
// @import url('https://fonts.googleapis.com/css?family=Arimo');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Geometrica', sans-serif;

    #header {
        position: fixed;
        z-index: 6;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: calc(~"100% - 15%");
        padding: 20px 7.5%;
        color: @c-text-light;
        .transition;

        &.colored {
            background-color: @c-text-light;

            #logo span,
            #links #links-list .links-list-item a,
            #social {
                color: @c-text-black;
            }
        }

        #logo {
            position: relative;
            width: 33%;
            display: inline-block;
            text-align: left;

            img {
                width: 35px;
                height: 35px;
            }

            span {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                margin-left: 10px;
                font-weight: bold;
            }
        }

        #links {
            width: 33%;
            display: inline-block;

            #links-list {
                margin: 0;
                padding: 0;
                list-style: none;
                text-align: center;

                .links-list-item {
                    display: inline-block;
                    
                    &:not(:first-child) {
                        margin-left: 18px;
                    }

                    a {
                        color: @c-text-light;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
            }
        }

        #social {
            text-align: right;
            width: 33%;
            display: inline-block;
        }
    }

    #hero {
        position: relative;
        z-index: 4;
        width: 100%;
        height: 750px;
        overflow: hidden;

        #hero-fader {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(0, 0, 0, .15);
        }

        .content {
            position: absolute;
            z-index: 2;
            width: 500px;

            #hero-text {
                position: relative;
                font-size: 70px;
                font-weight: bold;
                color: @c-text-light;

                .text-container {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                }

                &::after {
                    position: absolute;
                    content: '';
                    bottom: -10px;
                    left: 0;
                    width: 80%;
                    height: 20px;
                    background: url('images/hero-bottom-line.png') no-repeat;
                    background-size: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            #purchase {
                margin-top: 40px;
                .transition;
            }
        }
    }

    .heading {
        color: @c-text-black;
    }

    #about-white-rect {
        position: relative;
        z-index: 5;
        width: 100%;
        height: 200px;

        #about {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 70%;
            height: 300px;
            transform: translateY(-50%);
            left: 15%;
            border-radius: 10px;
            background-color: @c-block-blue;
            color: @c-text-light;
            .block-shadow;

            #text-about {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-grow: 3;
                font-size: 14px;
                letter-spacing: 4px;
                font-weight: bold;
                text-transform: uppercase;
            }

            #about-description {
                display: flex;
                flex-direction: row;
                flex-grow: 4;
                padding-top: 5px;

                #left {
                    width: 50%;
                    font-size: 55px;
                    font-weight: bold;
                    letter-spacing: -1px;
                    text-align: right;
                    padding-right: 15px;
                }

                #right {
                    font-family: 'Times New Roman', sans-serif;
                    padding-top: 5px;
                    margin-left: 15px;
                    width: 40%;
                    height: 50%;
                    padding-bottom: 30px;
                    font-size: 28px;
                    border-bottom: 1px solid rgba(255, 255, 255, .4);
                }
            }
        }
    }

    #directions {
        position: relative;
        width: 100%;
        height: 500px;
        background-color: @c-block-gray;

        #directions-wrapper {
            position: absolute;
            width: 60%;
            top: 70px;
            left: 20%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .direction {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                .image {
                    width: 55px;
                    height: 55px;
                }

                .description {
                    margin-top: 15px;
                    color: @c-text-light;
                    font-weight: bold;
                    font-size: 12px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }
            }
        }
    }

    #works {
        position: relative;
        width: 100%;
        height: 550px;
        background-color: @c-block-light-gray;

        #works-rectangle {
            position: absolute;
            top: -200px;
            left: 25%;
            width: 50%;
            height: 550px;
            background-color: @c-block-blue;
            border-radius: 10px;
            .block-shadow;
        }

        #works-wrapper {

        }
    }
}