/*************
**** Text ****
*************/
@c-text-black: #333436;
@c-text-light: #fff;

/**************
*** Buttons ***
**************/
@c-button-light: #fff;
@c-button-text-dark: @c-text-black;

/*************
*** Blocks ***
*************/
@c-block-blue: #0060E3;
@c-block-gray: #1B1D1F;