@import 'variables';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

* {
    margin: 0;
    padding: 0;
}

.transition {
    transition: .2s all ease-in-out;
}

.direction-icon {
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;

    &.web-development, &.light.web-development {
        background-image: url('../images/white/web_development.png');
    }
    &.android-development, &.light.android-development {
        background-image: url('../images/white/android_development.png');
    }
    &.visualization &.light.visualization {
        background-image: url('../images/white/visualization.png');
    }
    &.design, &.light.design {
        background-image: url('../images/white/design.png');
    }

    &.dark.web-development {
        background-image: url('../images/black/web_development.png');
    }
    &.dark.android-development {
        background-image: url('../images/black/android_development.png');
    }
    &.dark.visualization {
        background-image: url('../images/black/visualization.png');
    }
    &.dark.design {
        background-image: url('../images/black/design.png');
    }
}

.animated-transparency {
    opacity: .8;
    .transition;
}

.btn {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;

    .transition;

    &:hover {
        box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
    }
}

.btn-large {
    font-size: 16px;
    padding: 15px 23px;
    min-width: 300px;
    max-width: 400px;
    color: #fff;
}

.btn-blue {
    background-color: @c-text-primary;

    &:hover {
        background-color: #308fca;
    }
}

.btn-red {
    background-color: #F55040;

    &:hover {
        background-color: #e74c3c;
    }
}

.btn-noshadow {
    box-shadow: none;
}

.video-container {
    transition: .6s all cubic-bezier(.25,.96,.57,1);
}

.video-top-animation {
    margin-top: -48.3%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'PT Sans', sans-serif;

    #main-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 600px;

        #header {
            position: absolute;
            top: 0;
            left: 0;
            width: calc(~"100% - 100px");
            line-height: 50px;
            padding: 15px 50px;
            background-color: #fff;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

            #logo-container {
                color: @c-text-primary;
                float: left;
                font-size: 25px;
                font-weight: bold;

                #company-logo {
                    width: 20px;
                    height: 20px;
                }
            }

            #nav-container {
                float: right;

                #nav {
                    list-style: none;

                    li {
                        display: inline;
                        margin-right: 25px;

                        a {
                            font-weight: bold;
                            font-size: 15px;
                            text-decoration: none;
                            text-transform: uppercase;
                            color: @c-text-primary;
                        }
                    }
                }
            }
        }

        #content-container {
            position: absolute;
            width: 100%;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 32px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;

            #company-hero-title {
                text-shadow: 0 1px 2px rgba(0, 0, 0, .2);

                #hero-logo {
                    position: relative;
                    width: 40px;
                    height: 40px;
                    transform: translateY(7px);
                }
            }

            #order-product-button {
                margin-top: 20px;
            }
        }
    }

    #directions-container {
        position: relative;
        width: 100%;
        height: 100px;
        background-color: rgb(240, 240, 240);

        #directions {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            background-color: #fff;
            padding: 20px 10px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

            .direction {
                cursor: pointer;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                min-width: 150px;
                padding: 0 20px;
                text-align: center;
                color: rgb(30, 30, 30);
                border-right: 1px solid rgb(200, 200, 200);
                .transition;

                &:last-child {
                    border: none;
                }

                .direction-icon {
                    width: 32px;
                    height: 32px;
                    background-size: 100%;
                    .animated-transparency;
                }

                .title {
                    color: @c-text-primary;
                    margin-top: 5px;
                    font-weight: bold;
                    .animated-transparency;
                }

                .description {
                    color: @c-text-primary;
                    padding: 7px 0;
                }

                .bottom-line {
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                    width: 0;
                    height: 3px;
                    background-color: transparent;
                    .transition;
                }

                &:hover {
                    .direction-icon {
                        opacity: 1;
                        transform: scale(1.1);
                    }

                    .title {
                        opacity: 1;
                    }

                    .bottom-line {
                        width: 100%;
                    }

                    &.web .bottom-line {
                        background-color: #3498db;
                    }
                    &.android .bottom-line {
                        background-color: #2ecc71;
                    }
                    &.visualization .bottom-line {
                        background-color: #e74c3c;
                    }
                    &.design .bottom-line {
                        background-color: #f1c40f;
                    }
                }
            }
        }
    }

    #clients-container {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding-bottom: 40px;
        background-color: rgb(240, 240, 240);

        #clients-header {
            width: 100%;
            text-align: center;
            margin-top: 20px;
            font-size: 30px;
            color: rgb(50, 50, 50);
            padding: 10px 0;
            color: @c-text-primary;
        }

        #clients {
            margin-top: 20px;
            overflow: hidden;
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .slick-arrow:not(.slick-control) {
                display: none !important;
            }

            .slick-control.slick-arrow {
                position: relative;
                cursor: pointer;
                width: 100px;
                height: 28px;
                margin: 0 10px;
                border: none;
                background: transparent;
                font-weight: bold;
                font-size: 15px;
                color: @c-text-primary;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, .1);
                outline: none;
                border: none;
                .transition;

                &:hover {
                    background-color: rgba(0, 0, 0, .15);
                }

                .inner-arrow {
                    position: absolute;
                    top: 7px;
                    width: 0;
                    height: 0;
                    border-style: solid;

                    &.left {
                        right: 11px;
                        border-width: 6.5px 10px 6.5px 0;
                        border-color: transparent @c-text-primary transparent transparent;
                    }

                    &.right {
                        left: 11px;
                        border-width: 6.5px 0 6.5px 10px;
                        border-color: transparent transparent transparent @c-text-primary;
                    }
                }
            }

            .client-slide {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-right: 35px;
                padding: 10px 0;
                border-radius: 2px;
                border: none;
                outline: none;
                .transition;

                &:hover {
                    background-color: rgba(0, 0, 0, .05);
                }

                img {
                    width: 120px;
                    height: 120px;
                }

                .client-name {
                    color: @c-text-primary;
                    margin-top: 10px;
                }
            }
        }

        #client-reviews {
            margin-top: 50px;
            width: 60%;

            .client-review-slide {
                display: flex;
                flex-direction: row;
                flex-grow: 1;
                border: none;
                outline: none;

                .client-photo {
                    display: flex;
                    flex-grow: 2;

                    img {
                        max-width: 140px;
                        max-height: 140px;
                        border-radius: 50%;
                    }
                }

                .client-review-container {
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    flex-grow: 4;

                    .client-delegate-name {
                        color: @c-text-primary;

                        .name {
                            font-size: 19px;
                            font-weight: bold;
                        }

                        .company {
                            font-size: 17px;
                            font-style: italic;
                        }
                    }

                    .client-review-text {
                        color: @c-text-primary;
                        font-size: 16px;
                        margin-top: 15px;
                    }
                }
            }
        }
    }

    #team-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 30px 0;
        background-color: #2c3e50;

        #team-header {
            color: #fff;
        }

        #team {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 20px;
            width: 70%;

            .teammate {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: center;
                justify-content: center;

                .teammate-photo {
                    border-radius: 50%;
                    width: 150px;
                    height: 150px;
                    border: 3px solid #1d2d3e;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;

                    &.first {
                        background-image: url('../images/team/1.png');
                    }

                    &.second {
                        background-position: top;
                        background-image: url('../images/team/2.png');
                    }

                    &.third {
                        background-image: url('../images/team/3.png');
                    }

                    &.fourth {
                        background-image: url('../images/team/4.png');
                    }
                }

                .teammate-name {
                    margin-top: 10px;
                    font-weight: bold;
                    color: #fff;
                }

                .teammate-position {
                    margin-top: 5px;
                    color: #fff;
                    text-align: center;
                }
            }
        }
    }

    #contact-us-container {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        width: 100%;
        height: 350px;
        overflow: hidden;
        background-size: cover;

        #contact-us-text-container {
            display: flex;
            flex-grow: 1;
            height: 100%;
            align-items: center;
            justify-content: center;
        }

        #contact-us-form-container {
            display: flex;
            flex-grow: 1;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
    }

    #footer-container {
        position: relative;
        width: 100%;
        height: 70px;
        backgroubd-color: #fff;
    }
}
