@import 'variables';

.transition(@duration: .5s, @timing-function: ease-in-out) {
    transition: all @duration @timing-function;
}

.line-transition(@selector, @offsetX: 0, @offsetY: 0) {
    @{selector} {
        transform: translate(@offsetX, @offsetY);
    }
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: @c-body;
    font-family: 'Roboto', sans-serif;
}

.centered-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#direction-ripple {
    position: absolute;
    z-index: 2;
    width: 10px;
    height: 10px;
    opacity: 0;
    .transition(.7s, ease-out);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: @c-text-primary;

    &.active {
        width: 3500px;
        height: 3500px;
        opacity: 1;
    }

    // &.web-development {
    //     background-color: @c-web-development;
    // }
    //
    // &.android-development {
    //     background-color: @c-android-development;
    // }
    //
    // &.visualization {
    //     background-color: @c-visualization;
    // }
    //
    // &.design {
    //     background-color: @c-design;
    // }
}

#container {
    .centered-absolute;
    width: 100%;
    height: 100%;
    .transition(.1s);
    opacity: 0;
    top: calc(~"50% + 30px");

    &.active {
        top: 50%;
        opacity: 1;
    }

    #header-container {
        position: absolute;
        padding: 0 40px;
        left: 0;
        top: 0;
        width: calc(~"100% - 80px");
        height: 80px;
        overflow: hidden;

        #header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
            width: 100%;
            height: 80px;
            transform: translateY(90px);

            &.active {
                .transition(.8s, ease-out);
                transform: translateY(0);
            }

            #hamburger-menu {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                #menu-toggle {
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                }

                #company-name {
                    margin-left: 20px;
                    color: @c-text-primary;
                    font-weight: bold;
                }
            }

            #switch-language {
                overflow: hidden;
                display: flex;
                flex-direction: row;
                color: @c-text-primary;

                .language {
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: 5px 12px;

                    &.ru {
                        .name {
                            margin-right: 3px;
                        }

                        &+span {
                            font-size: 22px;
                        }
                    }

                    &.en {
                        .name {
                            margin-left: 3px;
                        }
                    }

                    .name {
                        font-size: 13px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    #border-animation-svg {
        .centered-absolute;
        width: 350px;
        height: 90px;

        &.active {
            .transition(.7s, ease-out);
            top: 45%;
        }

        .line-transition(~'line.top', -@line-offset-horizontal, 0);
        .line-transition(~'line.left', 0, -@line-offset-vertical);
        .line-transition(~'line.bottom', @line-offset-horizontal, 0);
        .line-transition(~'line.right', 0, @line-offset-vertical);


        .line-transition(~'line.top.active', 0, 0);
        .line-transition(~'line.left.active', 0, 0);
        .line-transition(~'line.bottom.active', 0, 0);
        .line-transition(~'line.right.active', 0, 0);

        line {
            stroke: @c-text-primary;
            stroke-width: 3px;
            opacity: 0;
            .transition(.7s);

            &.active {
                opacity: 1;
            }
        }
    }

    #name-container {
        overflow: hidden;
        width: auto;
        height: 38px;
        .centered-absolute;
        display: none;

        &.active {
            .transition(.7s, ease-out);
            display: block;
            top: 45%;
        }

        #name {
            .transition;
            transform: translateY(50px);
            color: @c-text-primary;
            font-size: 33px;

            &.active {
                transform: translateY(-2px);
            }

            img {
                position: relative;
                transform: translateY(5px);
                width: 29px;
                height: 29px;
            }
        }
    }

    #directions-container {
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        height: 100px;
        overflow: hidden;

        #directions {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            transform: translateY(120px);

            &.active {
                .transition(.8s);
                transform: translateY(0);
            }

            .direction {
                cursor: pointer;
                margin: 10px 20px 0 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                min-width: 100px;
                text-align: center;
                font-size: 15px;
                color: @c-text-primary;

                &:hover {
                    img {
                        transform: scale(1.2);
                    }
                }

                img {
                    width: 36px;
                    height: 36px;
                    .transition(.2s, ease-out);

                }

                .name {
                    margin-top: 8px;
                }
            }
        }
    }

    #particles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: 0;
    }
}

.page {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    padding: 60px;
    width: calc(~"100% - 120px");
    height: auto;
    opacity: 0;
    display: none;
    transform: translateY(50px);
    .transition(.4s, ease-out);

    &.visible {
        display: block;
    }

    &.active {
        z-index: 4;
        opacity: 1;
        transform: translateY(0);
    }

    .head {
        width: 100%;
        padding: 5px 0;

        .title {
            float: left;
            font-size: 30px;
            font-weight: bold;
            color: @c-text-direction;
        }

        .close-direction {
            cursor: pointer;
            float: right;
            font-size: 30px;
            font-weight: bold;
            color: @c-text-direction;
            transform: rotate(45deg);
            .transition(.2s, ease-out);

            &:hover {
                transform: rotate(-45deg);
            }
        }
    }
}
