@c-cream: #E8DBCB;
@c-text-primary: rgb(235, 235, 235);

@c-block-gray: rgb(230, 230, 230);
@c-body: #2c3e50;
@c-web-development: #2980b9;
@c-android-development: #8BC34A;
@c-visualization: #FFEEAD;
@c-design: #34495e;

@c-text-direction: @c-body;

@f-size-header: 30px;

@line-offset-vertical: 120px;
@line-offset-horizontal: 380px;
