@c-cream: #E8DBCB;
@c-text-primary: #2c3e50;

@c-block-gray: rgb(230, 230, 230);
@c-body-gray: rgb(245, 245, 245);

@f-size-header: 30px;

@line-offset-vertical: 120px;
@line-offset-horizontal: 380px;
